@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-bold';
    src: url('./assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-light';
    src: url('./assets/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-black';
    src: url('./assets/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel-Variable.ttf');
}

@layer base {
    body {
        @apply bg-[#f5f7f8];
    }
}

::-webkit-scrollbar {
    padding: 5px;
    width: 4px;
    height: 8px;
    background-color: transparent;
    margin-left: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffc100;
}